.Login {
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7289da;
}

.LoginContent{
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#LoginCard.MuiCard-root{
  background-color: #7289da !important;
}

.LogButton.MuiButton-root {
  width: 400px !important;
  height: 50px !important;
  opacity: 0.8;
}

.MuiButton-root:hover {
  opacity: 1;
  transition: 0.3s;
}

#GoogleButton.MuiButton-root {
  background-color: #DB4437; /* set your desired background color */
  color: white; /* set your desired text color */
}

#FacebookButton.MuiButton-root {
  background-color: #4267B2; /* set your desired background color */
  color: white; /* set your desired text color */
}

#GithubButton.MuiButton-root {
  background-color: #6e5494; /* set your desired background color */
  color: white; /* set your desired text color */
}